ul {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    justify-content: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #FFC629;
    text-emphasis: #B2B4B2;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:#B2B4B2;
  }
  
  .active {
    background-color: #FFC629;
    color:  #2D2926;
  }
  
  
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    border-top: 3px solid #2D2926;
    font-size: 45px;
    letter-spacing: 0.2em;
    line-height: 1.3em;
    font-weight: bold;
    text-align: center;
    color: #2D2926;
    padding: 14px 16px;
    margin: 0;
    background:  #FFC629;;
  }
  
  footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: .75em;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 1.3em;
    margin: 0;
    height: 50px;
    color: #FFC629;
    width: 100%;
    background-image:url("https://webstatic.kennesaw.edu/_resources/images/template/footer_bg.jpg");
    background-size: cover;
    background-position: center;
  }
  footer a{
    color: #FFC629;
    display: flex;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0;
    padding: 1em 0;
  }
  
  body{
    justify-content: center;
    margin-left: 12em;
    margin-right: 12em;
    overflow-x: scroll;
    padding: 20px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    
    
  
  }
  .banner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .banner_box {
    width: 100%;
    height: 250px;
    justify-content: center;
    text-align: center;
    background-image: url('https://ols.kennesaw.edu/images/bannerredesign.jpg');
    background-size: 100% 250px;
  }
  
  .container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .container a:hover{
    cursor: pointer;
    opacity: .5; 
  }
  
  .box {
    width: 250px;
    height: 250px;
    margin: 10px;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
  }
  
  
  .box a{
    padding: 10px;
    background-color: #B2B4B2;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    color:#FFC629;
    
    font-size: .85em;
  
  }
  .box-image:hover{
    box-shadow: 5px darkgray;
  }
  .box-image{
    height: 225px;
    background-size: cover;
    border-radius: 10px;
  }
  
  .box-1{
    background-image: url('https://styleguide.kennesaw.edu/images/master_brand-01.png')
    
  }
  
  #changelayout{
    font-family: 'Montserrat', sans-serif;
    font-size: .75em;
    font-weight: bold;
  }
  .motto {
    font-family: 'Montserrat', sans-serif;
    font-size: .75em;
    font-weight: bold;
    line-height: 1.3em;
    text-align: center;
    color: #FFC629;
    padding: .5em;
    background-image:url("https://webstatic.kennesaw.edu/_resources/images/template/footer_bg.jpg");
  }
   #linktext{
    color:black;
   }
  
  
  .bookdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
   
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  .bookdiv:hover{
    background-color: #B2B4B2;
  }
  
  .bookdiv img {
    margin-bottom: 10px;
    width: 100px;
    height: 150px;
  }
  
  .bookdiv a {
    text-decoration: none;
    font-size: 16px;
    color:  #2D2926;
    text-align: center;
  }
  .bookdiv a:hover {
    text-decoration: none;
    font-size: 16px;
    color:  #FFC629;
    text-align: center;
  }
  
  .searchbutton {
    text-decoration: none;
    font-size: 14px;
    color:  #2D2926;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .searchbutton:hover {
    background-color: #B2B4B2;
   
  }
  
  #booksearch{
    width: 500px;
    height: 25px;
    margin: auto ;
    justify-content: center; 
    
  }
  .searchalign {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pagination button{
    text-decoration: none;
    font-size: 24px;
    color:  #2D2926;
    font-family: 'Montserrat', sans-serif;
    
  }
  .pagination button:hover {
    background-color: #B2B4B2;
  
  }
  #results{
    display: flex;
    flex-wrap: wrap; 
    margin: 25px;
    flex-direction: row;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color:  #2D2926;
  }
  .bookdivInner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%; 
  }
  #searchLayout {
    display: flex;
    padding-top: .15em;
    padding-bottom: .15em;
   
  }
  
  #mybookshelf{
    text-align: center;
    justify-content: center; 
    }
  
  #mylibrary {
    border: 1px solid #2D2926;
    border-radius: 1em;
    display: flex;
    align-items: stretch;
    gap: 2px;
    height: 225px;
    padding: 10px; 
    justify-content: center;
    overflow-y: hidden;
    overflow-x: scroll;
   
    
   
  }
  .book{
    text-align: center;
    font-size: x-small;
    display: flex;
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border-radius: 1em;
  }
  .book h2{
    text-align: center;
    padding: 0 5px 5px;
  }
  .book  a{
  padding: 10px;
  max-width: 100%;
  height: auto;
  }
  
  #next{
  float: right;
  z-index: 9999999;
  }
  #searchResults
  {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: auto;
    justify-content: center; 
  }
  
  #boxitem
  {
  
      width: 99%;
      margin: 0.3%;
      height:80px;
  }
  
  .book2{
  
      width: auto;
      margin: 0.3%;
      height:250px;
      text-align: left;
      font-size: x-small;
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
      border-radius: 1em;
    padding: 10px;
      position: relative;
      
    }
    .book2 h2{
      padding: 0;
    
      flex: 1;
    }
  
    .book2 img{
    max-width: 100%;
    height: auto;
    object-fit: contain;

    }
    
    .book2 p{
      font-size: small;
      font-family: 'Montserrat', sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 45px;
    }

    .book p{
      font-size: small;
      font-family: 'Montserrat', sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 45px;
    }
    .book2 ul{
      font-size: small;
      font-family: 'Montserrat', sans-serif;
      background-color: white;
    }
    
    #morelink {

      font-size: small;
      padding-left: 5px;
      font-family: 'Montserrat', sans-serif;
    }
  
    #prev{
      font-family: 'Montserrat', sans-serif;
    }
    #next{
      font-family: 'Montserrat', sans-serif;
    }
    #bookFont{
        font-family: 'Montserrat', sans-serif;
    }
    .book:hover{
        background-color: #B2B4B2;
      }
      .book2:hover{
        background-color: #B2B4B2;
      }

nav li{
  margin-left: auto;
  margin-right: auto;
}


#favesContainer {
  background-color: lightgray;
  background-color: #FFC629;
  display: flex;
  width: auto;
  height: 250px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px; 
  box-sizing: border-box; 
}

#favesResults {
  margin: 5px;
  width: 215px;
  height: 215px;
  background-color: white;
  flex: 0 0 auto;
  display: flex;
  justify-content: center; 
  align-items: center; 
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  border-radius: 1em;
  font-family: 'Montserrat', sans-serif;
  
}
#favesResults a{
  margin: 5px;

}
#favesResults:hover{
  cursor: pointer;
  background-color: lightgray;
}